---
layout: default
nav_active: lecturenotes
title: Machine Learning
description: Course page of Machine Learning
---
<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Course in Machine Learning</h1>
        <h2>General Information</h2>
        <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-condensed">
            <tbody>
                <tr>
                    <td class="uk-table-shrink">Lecturer</td>
                    <td class="uk-table-shrink"><a href="https://temir.org/people.html#potthast">Jun.-Prof. Dr. Martin Potthast</a></td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Tutors</td>
                    <td class="uk-table-shrink"><a href="https://temir.org/people.html#akiki">Christopher Akiki</a></td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Workload</td>
                    <td class="uk-table-shrink">2 SWS Lecture, 1 SWS Tutorial</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lecture</td>
                    <td class="uk-table-shrink">Thursdays, 9:15 - 10:45</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Tutorial</td>
                    <td class="uk-table-shrink">Thursdays, 11:15 - 12:45</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Exam</td>
                    <td class="uk-table-shrink">TBA</td>
                </tr>
            </tbody>
        </table>
    </div>
<h2>Lecturenotes</h2>

{% include_relative _includes/lecturenotes.html %}

<h2>Lab Class</h2>

{% include_relative _includes/lab-class.html %}

    </div>
</main>
