In order to successfully complete this course, you will have to:
<ul>
<li>Actively participate in seminar sessions</li>
<li>Complete a half-semester long group research project (topics to be assigned a few weeks into the seminar)</li>
<li>After selecting your project topic, submit a short (1-2 pages) expose descibing your goals and work plan</li>
<li>Give a group presentation discussing your progress</li>
<li>At the end of the semester, submit a research report discussing your approach and results (4 pages double column + references)</li>
</ul>
