<ul class="uk-list uk-list-bullet">
    <li>
    Big Data and Language Technologies » 
    Introduction » 
    Organization, Literature
    [<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-organization.pdf">slides</a>]
    [<a href="https://youtu.be/zSI-9prhBYg">video (LE)</a>]
    [<a href="https://youtu.be/ShAmAsldboQ">video (WE)</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Introduction » 
      Introduction
      [<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-introduction.pdf">slides</a>]
      [<a href="https://youtu.be/zSI-9prhBYg?t=1551">video (LE)</a>]
      [<a href="https://youtu.be/ShAmAsldboQ?t=1582">video (WE)</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Machine Learning Basics »
      Regression 
      [<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/part-en-machine-learning-basics.pdf">slides</a>]
      [<a href="https://youtu.be/9oR3lLqMoUY">video</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Machine Learning Basics »
      Gradient Descent
      [<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/part-en-linear-models.pdf">slides</a>]
      [<a href="https://youtu.be/dTNjUn_1ySs">video</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Machine Learning Basics »
      Recurrent Neural Networks
      [<a href="https://webis.de/lecturenotes.html#unit-en-rnn-basics">slides</a>]
      [<a href="https://youtu.be/seLSBsAlhpI">video</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Deep Learning »
      RNNs for Machine Translation
      [<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/part-en-deep-learning.pdf">slides</a>]
    </li>
</ul>
