<ul class="uk-list uk-list-bullet">
    <li>
    Big Data and Language Technologies » 
    Introduction » 
    <a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-organization.pdf">Organization, Literature</a>
    [<a href="https://youtu.be/zSI-9prhBYg">video (LE)</a>]
    [<a href="https://youtu.be/ShAmAsldboQ">video (WE)</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Introduction » 
      <a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-introduction.pdf">Introduction</a>
      [<a href="https://youtu.be/zSI-9prhBYg?t=1551">video (LE)</a>]
      [<a href="https://youtu.be/ShAmAsldboQ?t=1582">video (WE)</a>]
    </li>
    <li>
        Regression [<a href="https://webis.de/lecturenotes.html?q=MACHINE+LEARNING#unit-en-regression-for-classification">slides</a>: excerpt <a href="https://webis.de/downloads/lecturenotes/machine-learning/unit-en-regression-for-classification.pdf">1</a>, <a href="https://webis.de/downloads/lecturenotes/machine-learning/unit-en-logistic-regression.pdf">2</a>, <a href="https://webis.de/downloads/lecturenotes/machine-learning/unit-en-regularization.pdf">3</a>]
        [<a href="https://youtu.be/9oR3lLqMoUY"> video </a>]
    </li>
    <li>
        02.05.2022: <a href="https://uni-leipzig.zoom.us/j/67375404328?pwd=N012UEZ1UDNoc2FhRlBZVVFaYXZyZz09">Zoom</a> Code: 990635
    </li>
</ul>
