<ul class="uk-list uk-list-bullet">
    <li>
    Big Data and Language Technologies » 
    Introduction » 
    <a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-organization.pdf">Organization, Literature</a>
    [<a href="https://youtu.be/zSI-9prhBYg">video</a>]
    </li>
    <li>
      Big Data and Language Technologies » 
      Introduction » 
      <a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-organization.pdf">Introduction</a>
      [<a href="https://youtu.be/zSI-9prhBYg?t=1551">video</a>]
    </li>
</ul>