<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Materials</th>
      <th>Stream</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>04.04.2022</td>
      <td>
      <ul class="uk-list">
        <li>Introduction &amp;&nbsp;Lab Setup</li>
        <li>Deep Learning in Python (Session 1)</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/unit-en-bdlt-organization.pdf">slides</a>]</li>
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/101-Setup.md">setup guide</a>]</li>
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/102-Intro-to-Keras.ipynb">code</a>]</li>
        <li>[<a href="https://nbviewer.org/urls/temir.org/teaching/big-data-and-language-technologies-ss22/materials/102-Intro-to-Keras-Solved.ipynb">solution</a>]</li>
      </ul>
      </td>
      <td>[recording (soon!)]</td>
    </tr>
    <tr>
      <td>11.04.2022</td>
      <td>
      <ul class="uk-list">
        <li>Deep Learning in Python (Session 2)</li>
      </ul>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>18.04.2022</td>
      <td><span class="uk-text-warning">No Session (Easter Monday)</span></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>