<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Materials</th>
      <th>Deliverables</th>
      <th>Stream</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>04.04.2022</td>
      <td>Deep Learning in Python (Session 1)</td>
      <td>
      <ul class="uk-list">
        <li>Introduction &amp;&nbsp;Lab Setup</li>
        <li>Keras Basics</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/101-Setup.md">setup</a>]</li>
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/102-Intro-to-Keras.ipynb">code</a>]</li>
        <li>[<a href="https://nbviewer.org/urls/temir.org/teaching/big-data-and-language-technologies-ss22/materials/102-Intro-to-Keras-Solved.ipynb">solution</a>]</li>
      </ul>
      </td>
      <td></td>
      <td>
      <ul class="uk-list">
        <li>[<a href="https://youtu.be/odmiCa611nE">lab (LE)</a>]</li>
        <li>[<a href="https://youtu.be/kHJ1yAIhGL8">lab (WE)</a>]</li>
      </ul>
      </td>
    </tr>
    <tr>
      <td>11.04.2022</td>
      <td>Deep Learning in Python (Session 2)</td>
      <td>
      <ul class="uk-list">
           <li>Tensorflow Datasets</li>
        <li>Custom loss functions</li>
        <li>Custom training loops</li>
          <li>TensorBoard</li>
      </ul>
      </td>
      <td>
        <ul class="uk-list">
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/202-Motivation-tf-data-Dataset.txt">motivation</a>]</li>
        <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/201-Keras-Advanced-Concepts.ipynb">code</a>]</li>
        <li>[<a href="https://nbviewer.org/urls/temir.org/teaching/big-data-and-language-technologies-ss22/materials/201-Keras-Advanced-Concepts-Solved.ipynb">solution</a>]</li>
      </ul>
      </td>
      <td></td>
      <td>
        <ul class="uk-list">
          <li>[<a href="https://youtu.be/g5Ngy-5-UUo">lab (p.1)</a>]</li>
          <li>[<a href="https://youtu.be/-Og0Qc5P_Y4">lab (p.2)</a>]</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>18.04.2022</td>
      <td><span class="uk-text-warning">No Session (Easter Monday)</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>25.04.2022</td>
      <td>Deep Learning in Python (Session 3)</td>
      <td>
        <ul class="uk-list">
          <li>Huggingface & pretrained models</li>
        </ul>
      </td>
      <td>
        <ul class="uk-list">
        <li>[<a href="https://nbviewer.org/urls/temir.org/teaching/big-data-and-language-technologies-ss22/materials/301-Huggingface-Tour.ipynb">code</a>]</li>
        </ul>
      </td>
      <td></td>
      <td>
        [<a href="https://youtu.be/I93Ykwj-8Ic">lab</a>]
     </td>
    </tr>
    <tr>
      <td>02.05.2022</td>
      <td>Deep Learning on SLURM (Session 1)</td>
      <td>
        <ul class="uk-list">
          <li>20NG Dataset</li>
          <li>Local model development</li>
          <li>SLURM basics</li>
        </ul>
      </td>
      <td>
        <ul class="uk-list">
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/401-Finetuned-Classification.ipynb">code</a>]</li>
          <li>[<a href="https://nbviewer.org/urls/temir.org/teaching/big-data-and-language-technologies-ss22/materials/401-Finetuned-Classification-Solved.ipynb">solution</a>]</li>
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/part-en-docker.pdf">slides (Docker)</a>]
        </ul>
      </td>
      <td>
      </td>
      <td>
        <ul class="uk-list">
          <li>[<a href="https://youtu.be/psudArBDVoY">lab (p.1)</a>]</li>
          <li>[<a href="https://youtu.be/WqRJpXrXXrs">lab (p.2)</a>]</li>
          <li>[<a href="https://youtu.be/cqquiMGDi54">lab (p.3)</a>]</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>09.05.2022</td>
      <td>Deep Learning on SLURM (Session 2)</td>
      <td>
        <ul class="uk-list">
          <li>SLURM deployment</li>
          <li>Parameter sweeping</li>
        </ul>
      </td>
      <td>
        <ul class="uk-list">
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/requirements.txt">requirements.txt</a>]</li>
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/Dockerfile">Dockerfile</a>]</li>
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/docker-publish.yml">Github Action</a>]</li>
          <li>Please set up [<a href="https://github.com">Github</a>] and [<a href="https://wandb.ai">WandB</a>] accounts to follow along with the lab.</li>
          <li>[<a href="https://temir.org/teaching/big-data-and-language-technologies-ss22/materials/deployment.zip">Deployment scripts</a>]</li>
        </ul>
      </td>
      <td><span class="uk-text-success">
        Set up Cluster Access</span></td>
      <td><a href="https://uni-leipzig.zoom.us/j/62698356957?pwd=YWYwWDBpSkRlakhhRy9uYzNGcFFSZz09" >Zoom Code: 434242 </a></td>
    </tr>
    <tr>
      <td>16.05.2022</td>
      <td>Project Fair</td>
      <td>
        <ul class="uk-list">
          <li>Introduction of available project topics</li>
        </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>23.05.2022</td>
      <td>Prompt Engineering (Session 1)</td>
      <td>
        <ul class="uk-list">
          <li>Prompt Engineering</li>
          <li>OpenAI GPT-3 playground</li>
          <li>Google BIG-Bench</li>
        </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>30.05.2022</td>
      <td>Prompt Engineering (Session 2)</td>
      <td>
        <ul class="uk-list">
          <li>Self-Deployed GPT-2 on SLURM</li>
          <li>OpenAI GPT-3 API</li>
        </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>06.06.2022</td>
      <td><span class="uk-text-warning">No Session (Whit Monday)</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>13.06.2022</td>
      <td>Prompt Engineering (Session 3)</td>
      <td>
        <ul class="uk-list">
          <li>Prompt Engineering Projects</li>
        </ul>
      </td>
      <td></td>
      <td><span class="uk-text-success">Prompt Engineering Presentations</span></td>
      <td></td>
    </tr>
    <tr>
      <td>20.06.2022</td>
      <td>Q&A Session</td>
      <td></td>
      <td></td>
      <td><span class="uk-text-success">Project Exposé</span></td>
      <td></td>
    </tr>
    <tr>
      <td>27.06.2022</td>
      <td>Group Meetings</td>
      <td>
        <ul class="uk-list">
          <li>Individual meetings with groups</li>
        </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04.07.2022</td>
      <td>Mid-Term Presentations</td>
      <td>
        <ul class="uk-list">
          <li>Group project presentations</li>
        </ul>
      </td>
      <td></td>
      <td><span class="uk-text-success">Project Presentation</span></td>
      <td></td>
    </tr>
    <tr>
      <td>11.07.2022</td>
      <td>Q&A Session</td>
      <td>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- 
    <tr>
      <td>29.08.2022</td>
      <td>Project Deadline</td>
      <td></td>
      <td></td>
      <td><span class="uk-text-success">Project Report</span></td>
      <td></td>
    </tr>
    -->
  </tbody>
</table>
