<ul>

<li><b>04.04.2022</b> <br/>
  
Zoom link: <a href="https://uni-leipzig.zoom.us/j/68947286279?pwd=Q1RvdGZPRkRDQ0VJVFpwWmxMcjhYZz09">https://uni-leipzig.zoom.us/j/68947286279?pwd=Q1RvdGZPRkRDQ0VJVFpwWmxMcjhYZz09</a><br>
  ID: 689 4728 6279
<br>Code: 337160<br><br>
Lecture: Course introduction. [slides] <br/>
Lab: Lab Setup. Deep Learning in Python, Session 1.<br/>
<br/>
</li>

<li><b>11.04.2022</b> <br/>
Lecture: TBD. <br/>
Lab: Deep Learning in Python, Session 2.<br/>
<br/>
</li>

<li><b>18.04.2022</b> <br/>
No Sessions (Easter Monday). <br/>
<br/>
</li>

<li><b>...</b> <br/>
<br/>
</li>

<li><b>06.06.2022</b> <br/>
No Sessions (Whit Monday). <br/>
<br/>
</li>

<li><b>...</b> <br/>
<br/>
</li>

</ul>
