<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>29.04.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Lab Overview</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss25-lab-part01.pdf">slides</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>06.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>NLTK &amp; spaCy</li>
        <li>IMDB Movie Reviews</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/01-nlp-with-nltk.ipynb">notebook-nltk</a>]</li>
        <li>[<a href="./materials/02-nlp-with-spacy.ipynb">notebook-spacy</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>13.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part03.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 1 due</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>20.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part04.pdf">slides</a>]</li-->
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>27.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part05.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 2 due</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>03.06.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part06.pdf">slides</a>]</li-->
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>10.06.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part07.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 3 due</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>17.06.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part08.pdf">slides</a>]</li-->
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>24.06.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part09.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 4 due</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>01.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part10.pdf">slides</a>]</li-->
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>08.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part11.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 5 due</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>15.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part12.pdf">slides</a>]</li-->
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>22.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <!--li>TOPIC</li-->
      </ul></td>
      <td><ul class="uk-list">
        <!--li>[<a href="./materials/nlp-ss25-lab-part13.pdf">slides</a>]</li-->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 6 due</span></li>
      </ul></td>
    </tr>
  </tbody>
</table>
