<ul>


<li><b>07.04.2022</b> <br/>
  Scheduling appointments and organizational information
  <br>
  <a href="https://temir.org/teaching/ostemir-ss22/Hints_Seminar_SS22.pdf">General information </a>
</li>
<br>
<li><b>14.04.2022</b> <br/>
</li>      
<br>
<li><b>21.04.2022</b> <br/>
  <ul>
  <li>Ahmad Dawar Hakimi: <i>Contextualised Summarisation of Scholarly Documents (1)</i></li>
  <li>Joans Stahl: <i>Adapting sentence embeddings to OCR erroneous data (1)</i></li>
  <li>Christian Staudte: <i>Using Language Models for Generating Argumentation Knowledge (1)</i></li>
  </ul>
</li>  
<br>
<li><b>28.04.2022</b> <br/>
  <ul>
    <li>Fabian Frings: <i>Applying a transformer-based machine learning technique to a Chatbot based Interactive Close Domain Question Answering System in Supportive Usage (1)</i></li>
    <li>Christian Staudte: <i>Using Language Models for Generating Argumentation Knowledge (2)</i></li>
    <li>Karl Haase: <i>The Impact of Near-Duplicates on Bootstrapping in Information Retrieval (1)</i></li>
  </ul>
</li>  
<br>
<li><b>05.05.2022</b> <br/>
  <ul>
    <li>Bernhard Jung: <i>Early Hype Detection on Reddit (1)</i></li>
    <li>Moritz Brunsch: <i>Multi-Label Active Learning with Many Irrelevant Examples (1)</i></li>
  </ul>
</li>  
<br>
<li><b>12.05.2022</b> <br/>
  <ul>
    <li>Fabian Frings: <i>Applying a transformer-based machine learning technique to a Chatbot based Interactive Close Domain Question Answering System in Supportive Usage (2)</i></li>
    <li>Zhang Yaowei: <i>Semi-automatic Knowledge Graph Authoring to Facilitate Retrieval of Expert Knowledge (1)</i></li>
    <li>Dominik Schwabe: <i>Unsupervised Frame Identification in Argumentative Discussions (1)</i></li>
  </ul>
</li>  
<br>
<li><b>19.05.2022</b> <br/>
  <ul>
    <li>Mathias Halbauer: <i>Analyse der Reaktionen von Coronamaßnahmen auf Basis von Twitterdaten (2)</i></li>
    <li>HiWi Vorträge</li>
  </ul>
</li>  
<br>
<li><b>26.05.2022</b> <br/>
  Christi Himmelfahrt
</li>  
<br>
<li><b>02.06.2022</b> <br/>
  fällt aus
</li>  
<br>
<li><b>09.06.2022</b> <br/>
  <ul>
    <li>Henrik Bininda: <i>Crawling and Analyzing the Novelupdates Corpus (2)</i></li>
    <li>Charly Zimmer: <i>Improving Causal Relation Extraction from the Web (1)</i></li>
  </ul>
</li>  
<br>
<li><b>16.06.2022</b> <br/>
  <ul>
    <li>Hannes Hansen: <i>From contextual to static word embeddings (2)</i></li>
    <li>HiWi Vorträge</li>
  </ul>
</li>  
<br>
<li><b>23.06.2022</b> <br/>
  <ul>
    <li>Wolfgang Kircheis: <i>Analyzing the History Section of Wikipedia Articles (2)</i></li>
  </ul>
</li>  
<br>
<li><b>30.06.2022</b> <br/>
 fällt aus
</li>  
<br>
<li><b>07.07.2022</b> <br/>
  <ul>
    <li>Charly Zimmer: <i>Improving Causal Relation Extraction from the Web (2)</i></li>
  </ul>
</li>  
<br>
<li><b>14.07.2022</b> <br/>
  <ul>
    <li>Christopher Akiki: <i>Query Expansion in the Age of Large Language Models (2)</i></li>
    <li>Jonas Stahl: <i>Adapting sentence embeddings to OCR erroneous data (2)</i></li>
    <li>Zhang Yaowei: <i>Semi-automatic Knowledge Graph Authoring to Facilitate Retrieval of Expert Knowledge (2)</i></li>
  </ul>
</li>  
</ul>
