<ul>


<li><b>07.04.2022</b> <br/>
  Scheduling appointments and organizational information
  <br>
  <a href="https://temir.org/teaching/ostemir-ss22/Hints_Seminar_SS22.pdf">General information </a>
</li>
<br>
<li><b>14.04.2022</b> <br/>
</li>      
<br>
<li><b>21.04.2022</b> <br/>
</li>  
<br>
<li><b>28.04.2022</b> <br/>
</li>  
<br>
<li><b>05.05.2022</b> <br/>
</li>  
<br>
<li><b>12.05.2022</b> <br/>
</li>  
<br>
<li><b>19.05.2022</b> <br/>
</li>  
<br>
<li><b>26.05.2022</b> <br/>
  Christi Himmelfahrt
</li>  
<br>
<li><b>02.06.2022</b> <br/>
</li>  
<br>
<li><b>09.06.2022</b> <br/>
</li>  
<br>
<li><b>16.06.2022</b> <br/>
</li>  
<br>
<li><b>23.06.2022</b> <br/>
</li>  
<br>
<li><b>30.06.2022</b> <br/>
</li>  
<br>
<li><b>07.07.2022</b> <br/>
</li>  
<br>
<li><b>14.07.2022</b> <br/>
</li>  
</ul>
