@use "variables";

// Import main Webis layout
@import url("https://assets.webis.de/css/style.css");


// Temir theme

.uk-background-secondary {
    background-color: variables.$temir-secondary-background !important;
}

#group-logo {
    font-weight: 100;
    color: white;
}

#group-logo:hover {
    text-decoration: none;
}


// Index page styles

#uni-logo-div {
    margin: 80px 220px;
    scale: 2;
}

.cover-div {
    padding: 10px;
}
