// Index page

#group-logo{
    font-size: large;
    font-weight: 100;
    color: white;
}

#group-logo:hover{
 text-decoration: none;
 font-weight: bold;
}

.global-nav{
    height: auto!important;
    margin-bottom: 10px;
}
@media (max-width: 400px) {
    .index-main-cover {
        height: 550px;
        background-size: 30%;
    }
}

@media (max-width: 300px) {
    .index-main-cover {
        height: 600px;
        background-size: 25%;
    }
}

@media (min-width: $breakpoint-medium) {
    .index-main-cover {
        height: 75vh;
    }
}

