<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
  <!--  <tr>
      <td>17.10.2024</td>
      <td>Introduction (Session 1)</td>
      <td>
      <ul class="uk-list">
        <li>Introduction &amp;&nbsp;Onboarding</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/01-intro.pdf">slides</a>]</li>
      </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>25.10.2024</td>
      <td>Literature Research (Session 2)</td>
      <td>
      <ul class="uk-list">
        <li>How to do literature research &amp; first steps on the cluster</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/02-literature-research.pdf">slides</a>]</li>
      </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>31.10.2024</td>
      <td>Text Classification (Session 3)</td>
      <td>
      <ul class="uk-list">
        <li>Intro to text classification</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/03-classification.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Literature Research</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>07.11.2024</td>
      <td>Representation Learning I (Session 4)</td>
      <td>
      <ul class="uk-list">
        <li>Intro to representation learning</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/04-representation-learning.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Sentiment Classifier</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>14.11.2024</td>
      <td>Representation Learning II (Session 5)</td>
      <td>
      <ul class="uk-list">
        <li>Representation learning with transformers</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/05-transformers.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Sentiment Classifier using Word Embeddings</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>21.11.2024</td>
      <td>Representation Learning III (Session 6)</td>
      <td>
      <ul class="uk-list">
        <li>Fine-tuning a BERT model</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/06-finetuning.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Sentiment Classifier using SBERT Embeddings</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>28.11.2024</td>
      <td>RAG Quality I (Session 7)</td>
      <td>
      <ul class="uk-list">
        <li>RAG Quality (Pointwise)</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/07-rag-dataset.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Fine-tuned BERT model</span></li>
      </ul></td>
    </tr> 
    <tr>
      <td>05.12.2024</td>
      <td>RAG Quality II (Session 8)</td>
      <td>
      <ul class="uk-list">
        <li>RAG Quality (Pairwise)</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Pointwise RAG Quality Classifier</span></li>
      </ul></td>
    </tr> 
    <tr>
      <td>12.12.2024</td>
      <td>RAG Relevance I (Session 9)</td>
      <td>
      <ul class="uk-list">
        <li>Intro to negative sampling</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
         <li>[<a href="./materials/09-relevance1.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Pairwise RAG Quality Classifier</span></li>
      </ul></td>
    </tr>      
    <tr>
      <td>19.12.2024</td>
      <td>RAG Relevance II (Session 10)</td>
      <td>
      <ul class="uk-list">
        <li>Intro to ranking functions</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/10-relevance2.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">RAG Relevance Classifier</span></li>
      </ul></td>
    </tr> 
    <tr>
      <td>16.01.2025</td>
      <td>RAG Entailment (Session 11)</td>
      <td>
      <ul class="uk-list">
        <li>Intro to entailment</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
         <li>[<a href="./materials/11-entailment.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">RAG Relevance Ranker</span></li>
      </ul></td>
    </tr> 
    <tr>
      <td>23.01.2025</td>
      <td>Q&A (Session 12)</td>
      <td>
      <ul class="uk-list">
        <li>Q&A for lab presentation and report</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/12-q-and-a.pdf">slides</a>]</li>
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">RAG Entailment Classifier</span></li>
      </ul></td>
    </tr>     
    <tr>
      <td>30.01.2025</td>
      <td>Final Presentations</td>
      <td>
      <ul class="uk-list">
        <li>Oral presentations</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Lab Presentation</span></li>
      </ul></td>
    </tr>     
    <tr>
      <td>13.02.2025</td>
      <td>Final Report</td>
      <td>
      <ul class="uk-list">
        <li>Written report</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
      </ul>
      </td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Lab Report</span></li>
      </ul></td>
    </tr> -->    
  </tbody>
</table>
