<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>23.10.2025</td>
      <td>Introduction (Session 1)</td>
      <td>
      <ul class="uk-list">
        <li>Introduction to Agentic LLMs</li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/01-intro.pdf">slides</a>]</li>
      </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>06.11.2025 (12:30!)</td>
      <td>LLMs & Prompting</td>
      <td>
      <ul class="uk-list">
        <li></li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="https://sdlaml.pages.jsc.fz-juelich.de/ai/guides/blablador_api_access/">api access</a>]</li>
        <li>[<a href="./materials/02-llms.ipynb">notebook</a>]</li>
        <li>[<a href="https://nbviewer.org/url/temir.org/teaching/intelligent-information-systems-ws25/materials/02-llms-solved.ipynb">solution</a>]</li>
      </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>13.11.2025 (13:00!)</td>
      <td>Agents</td>
      <td>
      <ul class="uk-list">
        <li></li>
      </ul>
      </td>
      <td>
      <ul class="uk-list">
        <li>[<a href="./materials/03-agents.ipynb">notebook</a>]</li>
        <li>[<a href="https://nbviewer.org/url/temir.org/teaching/intelligent-information-systems-ws25/materials/03-agents-solved.ipynb">solution</a>]</li>
        <li>[<a href="./materials/project-requirements.md">project requirements</a>]</li>
      </ul>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
