<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>28.10.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Lab Overview, Group Formation</li>
        <li>Milestone I Information Session</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/teaching/information-retrieval-ws25/materials/exercise-information-retrieval-wise-2025-part1.pdf">slides</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-ir-datasets.ipynb">notebook</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <!--<tr>
      <td>05.11.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Architecture of a search engine</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws24-lab-part2.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise1.pdf">exercise</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone I due</span></li>
      </ul></td>
    </tr><tr>
      <td>12.11.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Exercise 1</li>
        <li>Relevance Annotations</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws24-lab-part3.pdf">slides</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 1 due</span></li>
      </ul></td>
    </tr><tr>
      <td>19.11.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Evaluation</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws24-lab-part4.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise2.pdf">exercise</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone II due</span></li>
      </ul></td>
    </tr><tr>
      <td>26.11.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Exercise 2</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-stopword-lists.ipynb">notebook 1</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-stemming.ipynb">notebook 2</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-lemmatization.ipynb">notebook 3</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 2 due</span></li>
      </ul></td>
    </tr><tr>
      <td>03.12.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Intro to PyTerrier & TIRA</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/retrieval-evaluation-notebook.ipynb">submission notebook</a>]</li>
      </ul></td>
      <td></td>
    </tr><tr>
      <td>10.12.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Work on Milestone III</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td></td>
    </tr>
    </tr><tr>
      <td>17.12.2024</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Hypothesis Testing</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws24-lab-part5.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise3.pdf">exercise</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-statistical-analysis.ipynb">notebook</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone III due</span></li>
      </ul></td>
    </tr><tr>
      <td>14.01.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Exercise 3</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Exercise 3 due</span></li>
      </ul></td>
    </tr><tr>
      <td>21.01.2025</td>
      <td><ul class="uk-list uk-list-bullet">
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone IV due</span></li>
      </ul></td>
    </tr><tr>
      <td>28.01.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Boolean Retrieval</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-boolean-retrieval.ipynb">notebook</a>]</li>
      </ul></td>
      <td></td>
    </tr><tr>
      <td>04.02.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Exercise 4</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/exercise4.pdf">exercise</a>]</li>
      </ul></td>
      <td></td>
    </tr> -->
  </tbody>
</table>
