<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Materials</th>
      <th>Deliverables</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>28.10.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Lab Overview, Group Formation</li>
        <li>Milestone I Information Session</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part1.pdf">slides</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-ir-datasets.ipynb">notebook</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>04.11.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Architecture of a search engine</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://youtu.be/A_2JPgdqKuY?si=U43h6-5liS7s0muP">videos 4 - 6</a>]</li>
        <li>[<a href="./materials/ir-ws25-lab-part2.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise1.pdf">exercise</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone I: 06.11.2025, 23:59</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>11.11.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Relevance Annotations</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part3.pdf">slides</a>]</li>
      </ul></td>
    </tr>
    <tr>
      <td>18.11.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Evaluation (Set Retrieval)</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part4.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise2.pdf">exercise</a>]</li>
      </ul></td> 
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone II: 20.11.2025, 23:59</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>25.11.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Evaluation (Ranked Retrieval)</li>
        <li>Lab Tutorial (Dev Container)</li> 
        <li>Lab Tutorial (PyTerrier Artifacts)</li> 
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part5.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise3.pdf">exercise</a>]</li>
        <li>[<a href="https://github.com/OpenWebSearch/wows-code/tree/main/ecir26/template-new-approach">Dev Container</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/pyterrier-1.0/tutorials/tutorial-pyterrier-artifacts.ipynb">PyTerrier Artifacts notebook</a>]</li>
      </ul></td>
    </tr>
    <tr>
      <td>02.12.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Byte-Pair Encoding</li>
        <li>Morphology</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-tokenization.ipynb">Tokenization notebook</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-stopword-lists.ipynb">Stopwords notebook</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-stemming.ipynb">Stemming notebook</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-lemmatization.ipynb">Lemmatization notebook</a>]</li>
      </ul></td>
      <td></td>
    </tr><tr>
      <td>09.12.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>TIRA dry run & submission</li>
      </ul></td>
      <td>
        <ul class="uk-list">
          <li>[<a href="./materials/ir-ws25-lab-part6.pdf">slides</a>]</li>
        </ul>
      </td>
       <td><ul class="uk-list">
         <li><span class="uk-text-success">Milestone III: 15.12.2025, 23:59</span></li>
      </ul></td>
      <td></td>
    </tr>
    </tr><tr>
      <td>16.12.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Research Questions</li>
        <li>Hypothesis Testing</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part7.pdf">slides</a>]</li>
        <li>[<a href="./materials/exercise4.pdf">exercise</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-statistical-analysis.ipynb">Statistical Analysis notebook</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <!-- <li><span class="uk-text-success">Milestone II: 15.12.2025, 23:59</span></li> -->
      </ul></td>
    </tr>
    <tr>
      <td>13.01.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Indexing</li>
        <li>Experiments</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/exercise5.pdf">exercise</a>]</li>
        <li>[<a href="https://github.com/OpenWebSearch/wows-code/blob/main/ecir26/template-new-approach/experiments.ipynb">Experiment notebook</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
    <tr>
      <td>20.01.2026</td>
      <td><ul class="uk-list uk-list-bullet">
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
        <!-- <li><span class="uk-text-success">Milestone IV: 19.01.2026, 23:59</span></li> -->
      </ul></td>
    </tr>
    <tr>
      <td>27.01.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Retrieval Models</li>
        <li>Boolean Retrieval</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/exercise6.pdf">exercise</a>]</li>
        <li>[<a href="https://github.com/tira-io/teaching-ir-with-shared-tasks/blob/main/tutorials/tutorial-boolean-retrieval.ipynb">Boolean Search Engine notebook</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Milestone IV: 27.01.2026, 23:59</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>03.02.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Binary Independence Model Ranking</li>
        <li>Language Model Ranking</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/exercise7.pdf">exercise</a>]</li>
      </ul></td>
      <td></td>
    </tr> 
    <tr>
      <td>10.02.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Q&A session</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/ir-ws25-lab-part8.pdf">slides</a>]</li>
      </ul></td>
      <td></td>
    </tr>
  </tbody>
</table>
