<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>21.04.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Lab Overview</li>
        <li>Natural Language</li>
        <li>NLTK</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-lab-part01.pdf">slides</a>]</li>
        <li>[<a href="./materials/nlp-ss26-sheet1.pdf">exercise 1</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-01-nltk-intro.ipynb">notebook-nltk</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>28.04.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Studienleistung</li>
        <li>NLTK &amp; spaCy</li>
        <li>IMDB Movie Reviews</li>
        <li>Unmasking (Authorship)</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-lab-part02.pdf">slides</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-01-nltk-intro.ipynb">notebook-nltk</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-02-spacy-intro.ipynb">notebook-spacy</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/advanced-02-unmasking-authorship.ipynb">notebook-authorship</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>05.05.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Morphology</li>
        <li>Effectiveness Measures</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet2.pdf">exercise 2</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>12.05.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Progress Meeting Studienleistung (optional)</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-lab-part03.pdf">slides</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
    <tr>
      <td>19.05.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Zipf's law</li>
        <li>Data Aqcuisition</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet3.pdf">exercise 3</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
    <tr>
      <td>26.05.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Inter-Annotator Agreement</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet4.pdf">exercise 4</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>02.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Regular Expressions</li>
        <li>Text Preprocessing</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet5.pdf">exercise 5</a>]</li>
      </ul></td>
      <td></td>
    </tr>
    <tr>
      <td>09.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Stemming</li>
        <li>Tokenization (BPE)</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet6.pdf">exercise 6</a>]</li>
         <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-08-tokenization.ipynb">notebook-tokenization</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
     <tr>
      <td>16.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>BoW</li>
        <li>TF-IDF</li>
        <li>Word Vectors</li>
        <li>Lexical and Distributional Semantics</li>
        <li>Positive Pointwise Mutual Information</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet7.pdf">exercise 7</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-05-ppmi.ipynb">notebook-ppmi</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
    <tr>
      <td>23.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Progress Meeting Studienleistung</li>
        <li>Word2Vec</li>
        <li>Skip-Gram Model</li>
        <li>BERT</li>
        <!-- <li>Principal Component Analysis</li> -->
        <!-- <li>Latent Semantic Analysis</li> -->
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/nlp-ss26-sheet8.pdf">exercise 8</a>]</li>
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/advanced-01-reimplementing-bert.ipynb">notebook-bert</a>]</li>
        <!-- <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-07-pca-svd.ipynb">notebook-pca</a>]</li> -->
      </ul></td>
      <td><ul class="uk-list">
         <li><span class="uk-text-success">22.06.2026, 10.00: Studienleistung Plan Submission</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>30.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Studienleistung Presentations</li>
        <li>Word Sense Disambiguation: Lesk algorithm</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-06-lesk.ipynb">notebook-lesk</a>]</li>
      </ul></td>
      <td><ul class="uk-list">
         <li><span class="uk-text-success">29.06.2026, 10.00: Studienleistung Submission</span></li>
      </ul></td>
    </tr>
    <tr>
      <td>07.07.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>TBA</li>
        <!--  -->
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr>
    <tr>
      <td>14.07.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Q&amp;A session</li>
      </ul></td>
      <td><ul class="uk-list">
        <!-- [<a href="./materials/nlp-ss26-lab-part12.pdf">slides</a>] -->
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">16.07.2026: Exam</span></li>
      </ul>
      </td>
    </tr>
    <!-- <tr>
      <td>02.06.2026</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Hypothesis Testing</li>
         <li>Lexical and Semantic Similarity</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="https://github.com/webis-de/teaching-nlp-notebooks/blob/main/basics-03-hypothesis-testing.ipynb">notebook-hypothesis-testing</a>]</li>
      </ul></td>
      <td></td>
    </tr> -->
  </tbody>
</table>
