<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Materials</th>
      <th>Deliverables</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>24.04.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Overview</li>
      </ul></td>
      <td><ul class="uk-list">
        <li>[<a href="./materials/bachelor-seminar-ss25-slides1.pdf">slides</a>]</li>
      </ul></td>
      <td></td>
    </tr><tr>
      <td>02.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Vote Deadline</li>
      </ul></td>
      <td>No meeting</td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">3 favorite topics</span></li>
      </ul></td>
    </tr><tr>
      <td>23.05.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Tutorial: Scientific writing</li>
      </ul></td>
      <td><ul class="uk-list uk-list-bullet">
          <li><a href="https://webis.de/lecturenotes.html#unit-en-literature-research">Literature Research</a></li>
          <li><a href="https://webis.de/lecturenotes.html#unit-en-paper-writing-basics">Paper Writing</a></li>
      </ul></td>
      <td></td>
    </tr><tr>
      <td>20.06.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Structure + Abstract Check</li>
      </ul></td>
      <td>No meeting</td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Structure outline due</span></li>
        <li><span class="uk-text-success">Abstract due</span></li>
      </ul></td>
    </tr><tr>
      <td>11.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Halfway Point</li>
      </ul></td>
      <td>No meeting</td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Term paper draft due (50% of work must be done)</span></li>
      </ul></td>
    </tr><tr>
      <td>18.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Review Deadline</li>
      </ul></td>
      <td>No meeting</td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Reviews due</span></li>
      </ul></td>
    </tr><tr>
      <td>18.07.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Tutorial: Scientific presenting</li>
      </ul></td>
      <td><ul class="uk-list uk-list-bullet">
          <li><a href="https://webis.de/lecturenotes.html#unit-en-oral-presentations">Oral Presentations</a></li>
      </ul></td>
      <td></td>
    </tr>
    </tr><tr>
      <td>08.08.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Feedback on Slides</li>
      </ul></td>
      <td>No meeting</td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Slides due</span></li>
      </ul></td>
    </tr><tr>
      <td>15.08.2025</td>
      <td><ul class="uk-list uk-list-bullet">
        <li>Presentations (starting at 10:15)</li>
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
      </ul></td>
    </tr><tr>
      <td>22.08.2025</td>
      <td></td>
      <td><ul class="uk-list">
      </ul></td>
      <td><ul class="uk-list">
        <li><span class="uk-text-success">Term paper and slides due</span></li>
      </ul></td>
    </tr>
  </tbody>
</table>
