{% comment %} <!-- TO BE DETERMINED -- SPOT-CHECK GRADING ETC. -->
<p>Active participation in the lab class is a <strong>requirement for admission to the final exam</strong>. Depending on the number of ECTS credits you receive for the course, there is a different minimum score you must attain in the exercises. Details are printed at the top of each exercise sheet.</p>
{% endcomment %}

<ul>


<li><b>05.11.2020</b> <br/>
Lab class introduction; Exercise sheet 1: Intro, Basics [<a href="https://files.webis.de/teaching/machine-learning-ws20/exercises-en-machine-learning-basics-part1.pdf">worksheet</a>]<br/> {% comment %}Moodle introduction [slides]<br/>{% endcomment %}
<br/>
</li>

<li><b>12.11.2020</b><br/>
Tutorial.<br/>
Python basics<br/>
Standard library, numpy, matplotlib<br/>
<br/>
</li>

<li><b>16.11.2020 23:59</b>: submission deadline for exercise sheet 1<br/>
<br/>
</li>

<li><b>19.11.2020</b><br/>
Discussion of exercise sheet 1<br/>
Exercise sheet 2{% comment %}: Concept Learning [worksheet]{% endcomment %}
<br/>
<br/>
</li>

{% comment %} <!-- (Tutorial details to be decided) -->

<li><b>26.11.2020</b><br/>
Tutorial: pandas, LMS, plotting [notebook] [slides]<br/>
<br/>
</li>

{% endcomment %}

<li><b>30.11.2020 23:59</b>: submission deadline for exercise sheet 2<br/>
Last chance to change group selections in Moodle<br/>
<br/>
</li>

<li><b>03.12.2020</b><br/>
Discussion of exercise sheet 2<br/>
Exercise sheet 3{% comment %}: Decision Trees [worksheet]{% endcomment %}
<br/>
{% comment %} Conditional entropy [slides] [notebook]<br/> {% endcomment %}
<br/>
</li>

<li><b>13.12.2020 23:59</b>: submission deadline for exercise sheet 3<br/>
<br/>
</li>

<li><b>17.12.2020</b><br/>
Discussion of exercise sheet 3<br/>
Exercise sheet 4{% comment %}: Statistical Learning [worksheet]{% endcomment %}
<br/>
<br/>
</li>

<li><b>04.01.2021 23:59</b>: submission deadline for exercise sheet 4<br/>
<br/>
</li>

<li><b>07.01.2021</b><br/>
Discussion of exercise sheet 4<br/>
Exercise sheet 5{% comment %}: Neural Networks [worksheet]{% endcomment %}
<br/>
<br/>
</li>

<li><b>18.01.2021 23:59</b>: submission deadline for exercise sheet 5
<br/>
<br/>
</li>

<li><b>21.01.2021</b><br/>
Discussion of exercise sheet 5<br/>
Exercise sheet 6{% comment %}: Cluster Analysis [worksheet]{% endcomment %}
<br/>
<br/>
</li>

<li><b>01.02.2021 23:59</b>: submission deadline for exercise sheet 6
<br/>
<br/>
</li>


<li><b>04.02.2021</b><br/>
Discussion of exercise sheet 6<br/>
Exam preparation<br/>
<br/>
</li>



</ul>
