<style  type="text/css" >
    #T_14f2cff4_4043_11eb_a6bd_0242ac110003 thead {
          font-size: 14pt;
          text-decoration: underline;
          border-style: solid;
    }#T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col0,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col1,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col2,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col0,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col1,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col2,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col0,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col1,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col2,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col0,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col1,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col2,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col0,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col1,#T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col2{
            background-color:  white;
            color:  black;
            border-color:  white;
            padding:  5px;
            text-align:  right;
            header.font-size:  0.5em;
            header.text-decoration:  underline;
        }</style><table id="T_14f2cff4_4043_11eb_a6bd_0242ac110003" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >Group</th>        <th class="col_heading level0 col1" >Accuracy</th>        <th class="col_heading level0 col2" >MCE</th>    </tr></thead><tbody>
                <tr>
                        <th id="T_14f2cff4_4043_11eb_a6bd_0242ac110003level0_row0" class="row_heading level0 row0" >1st</th>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col0" class="data row0 col0" >W6-33</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col1" class="data row0 col1" >                0.66</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row0_col2" class="data row0 col2" >                0.34</td>
            </tr>
            <tr>
                        <th id="T_14f2cff4_4043_11eb_a6bd_0242ac110003level0_row1" class="row_heading level0 row1" >2nd</th>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col0" class="data row1 col0" >W6-36</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col1" class="data row1 col1" >                0.61</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row1_col2" class="data row1 col2" >                0.39</td>
            </tr>
            <tr>
                        <th id="T_14f2cff4_4043_11eb_a6bd_0242ac110003level0_row2" class="row_heading level0 row2" >3rd</th>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col0" class="data row2 col0" >L90</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col1" class="data row2 col1" >                0.60</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row2_col2" class="data row2 col2" >                0.40</td>
            </tr>
            <tr>
                        <th id="T_14f2cff4_4043_11eb_a6bd_0242ac110003level0_row3" class="row_heading level0 row3" >4th</th>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col0" class="data row3 col0" >L95</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col1" class="data row3 col1" >                0.42</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row3_col2" class="data row3 col2" >                0.58</td>
            </tr>
            <tr>
                        <th id="T_14f2cff4_4043_11eb_a6bd_0242ac110003level0_row4" class="row_heading level0 row4" >5th</th>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col0" class="data row4 col0" >L29</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col1" class="data row4 col1" >                0.38</td>
                        <td id="T_14f2cff4_4043_11eb_a6bd_0242ac110003row4_col2" class="data row4 col2" >                0.62</td>
            </tr>
    </tbody></table>