
<ul>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-machine-learning-intro">Introduction</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-ml-organization">Organization, Literature</a>
</nobr></li>

<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-machine-learning-intro">Introduction</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-ml-introduction">Learning Problems</a>
</nobr></li>
<br>


<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-machine-learning-basics">Machine Learning Basics</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-regression">Regression</a>
</nobr></li>

<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-machine-learning-basics">Machine Learning Basics</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-concept-learning">Concept Learning</a>
</nobr></li>

<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-machine-learning-basics">Machine Learning Basics</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-evaluating-effectiveness">Evaluating Effectiveness</a>
</nobr></li>

<br>

<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-linear-models">Linear Models</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-logistic-regression">Logistic Regression</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-linear-models">Linear Models</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-regularization1">Regularization</a>
</nobr></li>

<br>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-neural-networks">Neural Networks</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-perceptron-learning">Perceptron Learning</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-neural-networks">Neural Networks</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-gradient-descent">Gradient Descent</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-neural-networks">Neural Networks</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-multilayer-perceptron">Multilayer Perceptron</a>
</nobr></li>

<br>

<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-decision-trees">Decision Trees</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-decision-trees-basics">Decision Trees Basics</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-decision-trees">Decision Trees</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-decision-trees-impurity">Impurity Functions</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-decision-trees">Decision Trees</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-decision-trees-algorithms">Decision Tree Algorithms</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-decision-trees">Decision Trees</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-decision-trees-pruning">Decision Tree Pruning</a>
</nobr></li>
<br>

{% comment %} <!-- move this line down to uncover -->


<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-statistical-learning">Statistical Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-probability-basics">Probability Basics</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#machine-learning">Machine Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-statistical-learning">Statistical Learning</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-bayesian-learning">Bayes Classification</a>
</nobr></li>
  
<br>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-data-mining-intro">Introduction</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-dm-overview">Data Mining Overview</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-cluster-analysis-basics">Cluster Analysis Basics</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-cluster-analysis-hierarchical">Hierarchical Cluster Analysis</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-cluster-analysis-iterative">Iterative Cluster Analysis</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-cluster-analysis-density">Density-Based Cluster Analysis</a>
</nobr></li>
<li><nobr><a href="https://webis.de/lecturenotes.html#data-mining">Data Mining</a> &gt;
<a href="https://webis.de/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a> &gt;
<a href="https://webis.de/lecturenotes.html#unit-en-cluster-analysis-evaluation">Cluster Evaluation</a>
</nobr>
</li>

{% endcomment %}
<br>

</ul>

