---
layout: default
nav_active: lecturenotes
title: Course in Foundations of Machine Learning
description: Course page of Foundations of Machine Learning
---
<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Course in Foundations of Machine Learning</h1>
        <ul class="uk-list">
            <li><span data-uk-icon="chevron-down"></span>  <a href="#general-information">General Information</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#announcements">Announcements</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#lecturenotes">Lecturenotes</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#lab-class">Lab Class</a></li>
        </ul>
        <h2>General Information</h2>
        <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-condensed">
            <tbody>
                <tr>
                    <td class="uk-table-shrink">Lecturer</td>
                    <td class="uk-table-shrink"><a href="https://temir.org/people.html#potthast">Jun.-Prof. Dr. Martin Potthast</a></td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lab Advisors</td>
                    <td class="uk-table-shrink"><a href="https://temir.org/people.html#akiki">Christopher Akiki</a></td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Workload</td>
                    <td class="uk-table-shrink">2 SWS Lecture, 1 SWS Tutorial</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lecture</td>
                    <td class="uk-table-shrink">Thursdays, 9:15 - 10:45</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lab</td>
                    <td class="uk-table-shrink">Thursdays, 11:15 - 12:45</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Contact</td>
                    <td class="uk-table-shrink"><a href="https://moodle2.uni-leipzig.de/course/view.php?id=28812">Moodle forum</a>, or via Email</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Exam</td>
                    <td class="uk-table-shrink">To be announced.</td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <h2 id="announcements">Announcements</h2>
        <ul class="uk-list uk-list-bullet">
          <li>First lecture will be held on Thursday, October 29, 2020. Please visit the courses <a href="https://moodle2.uni-leipzig.de/course/view.php?id=28812">Moodle page</a> to find the BigBlueButton link. Should there be technical problems with Moodle, we will send an email with the link to everyone registered on AlmaWeb.</li>
        </ul>
        
        <h2 id="lecturenotes">Lecturenotes</h2>

        {% include_relative _includes/lecturenotes.html %}

        <h2 id="lab-class">Lab Class</h2>

        {% include_relative _includes/lab-class.html %}
    </div>
</main>
