---
layout: default
nav_active: lecturenotes
title: Statistics for Digital Humanities
description: Course page of Statistics for Digital Humanities
---
<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Course in Statistics for Digital Humanities</h1>
        <ul class="uk-list">
            <li><span data-uk-icon="chevron-down"></span>  <a href="#general-information">General Information</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#announcements">Announcements</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#organization">Organization</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#lecturenotes">Lecturenotes</a></li>
            <li><span data-uk-icon="chevron-down"></span>  <a href="#lab-class">Lab Class</a></li>
        </ul>
        <h2 id="general-information">General Information</h2>
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-divider uk-table-condensed">
                <tbody>
                <tr>
                    <td class="uk-table-shrink">Lecturer</td>
                    <td class="uk-table-shrink"><a href="https://temir.org/people.html#potthast">Jun.-Prof. Dr. Martin Potthast</a></td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lab Advisors</td>
                    <td class="uk-table-shrink"><a href="https://www.uni-leipzig.de/personenprofil/mitarbeiter/kim-buergl/">Kim Bürgl</a><!--, <a href="https://temir.org/people.html#kircheis">Wolfgang Kircheis</a> --> </td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Workload</td>
                    <td class="uk-table-shrink">2 SWS Lecture, 2 SWS Lab</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lecture</td>
                    <td class="uk-table-shrink">Mondays, 11:15 - 12:45 - Seminargebäude 3-10</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Lab</td>
                    <td class="uk-table-shrink">Wednesdays, 11:15 - 12:45 - Seminargebäude 3-12</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Contact</td>
                    <td class="uk-table-shrink">Email</td>
                </tr>
                <tr>
                    <td class="uk-table-shrink">Exam</td>
                    <td class="uk-table-shrink">To be announced.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 id="announcements">Announcements</h2>
        <ul class="uk-list uk-list-bullet">
            <li> The slides habe been updated on October 18th, 2021. </li>
            <li> Due to sceduling conflicts, the lab is held on <b>Wednesdays, 11:15</b> in room <b> SG-3-12</b>. The first lab will be held on the 20th of October.</li>
            <li> As lecture and lab will take place in person, please read the  <a href="https://www.uni-leipzig.de/en/university/service/information-about-coronavirus/hygiene-and-infectious-disease-concept/">Hygiene and Infectios Desease Concept</a>.</li>
            <li> Please register yourself in the <a href="https://moodle2.uni-leipzig.de/user/index.php?id=35006">Moodle course</a>.</li>
        </ul>
        <h2 id="organization">Organization</h2>
        <ul class="uk-list uk-list-striped">
            <li><b>Lectures</b> are live and take place in person. Lecturenotes will be published here. Lectures and Exercises will be held in German. First lecture takes place on the 11th of october.</li>
            <li><b>Lab</b> consists of weekly exercises which are published here. Programming exercises with Python are voluntary and demonstrate use cases of statistics in DH whereas non-programming exercises are compulsory and at least 50% of the points need to be reached as a prerequisite to complete the module.
                Exercises shall be handed over in groups of three students. Group organisation and uploading exercises is done via <a href="https://moodle2.uni-leipzig.de/user/index.php?id=35006">Moodle</a>. First lab session for organisational purposes and group finding will be held on the 11th of october. </li>
            <li><b>Communication</b>
                <ul class="uk-list uk-list-bullet">
                    <li>Email - important announcements will be sent out via mail (Using Moodle).</li>
                </ul>
            </li>
        </ul>
        
        <h2 id="lecturenotes">Lecturenotes</h2>

        {% include_relative _includes/lecturenotes.html %}
        
        <h2 id="lab-class">Lab Class</h2>

        {% include_relative _includes/lab-class.html %}
    </div>
</main>
