<ul>

<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Einführung &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-pts-organization.pdf">Organisation, Literatur</a></nobr><br>
Leipzig: n/a
Halle:
[<a href="https://www.youtube.com/watch?v=ep5Gy4lX4UI">video 1</a>]
</li>

<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Einführung &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-pts-introduction.pdf">Einordnung, Begriffe</a></nobr><br>
Leipzig: n/a
Halle:
[<a href="https://www.youtube.com/watch?v=FZ-04BiVhM4">video 2</a>]
[<a href="https://www.youtube.com/watch?v=utAb1qJumIs">video 3</a>]
[<a href="https://www.youtube.com/watch?v=fx2CuYAGP_E">video 4</a>]
</li>

<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-random-experiments.pdf">Zufallsexperimente</a></nobr><br>
Leipzig: n/a
Halle:
[<a href="https://www.youtube.com/watch?v=muwPpVzWGgM">video 5</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-sample-spaces.pdf">Ergebnisräume</a></nobr><br>
Leipzig: n/a
Halle:
[<a href="https://www.youtube.com/watch?v=r1g9FiFlL80">video 6</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-event-spaces.pdf">Ereignisräume</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=ymOqviVwIV0">video 5</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=VT3p14dTZLk">video 7</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-relative-frequency.pdf">Relative Häufigkeit</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=bcJ0RkpDebU">video 6</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=MDKemCsxhlA">video 8</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-classical-probability.pdf">Klassischer Wahrscheinlichkeitsbegriff</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=2HlB9TIm2f8">video 7</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=nkUKHRJNe-k">video 9</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-axiomatic-probability.pdf">Axiomatischer Wahrscheinlichkeitsbegriff</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=3kjlw_288MQ">video 8</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=Is4FZaQMdRA">video 10</a>]
</li>
  
<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Kombinatorik &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-permutations-and-combinations.pdf">Permutationen und Kombinationen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=HYQDcFgROwY">video 9</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=57zHOq3apS8">video 11</a>]
[<a href="https://www.youtube.com/watch?v=2Iy7ri1E0Q8">video 12</a>]
[<a href="https://www.youtube.com/watch?v=CWzdP0seoI0">video 13</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Kombinatorik &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-laplace-probability-examples.pdf">Kombinatorik für Laplace-Wahrscheinlichkeiten</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=OJTLWSnnRNc">video 10</a>]
[<a href="https://www.youtube.com/watch?v=SUdjoHKUIzM">video 11</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=GButiy0n60Y">video 14</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Kombinatorik &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-urn-model.pdf">Urnenmodell</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=aTY2x4LVs1o">video 12</a>]
[<a href="https://www.youtube.com/watch?v=hkbfSGCVT1Q">video 13</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=_CZNdHSR1_8">video 15</a>]
</li>
  
<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Bedingte Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-conditional-probability.pdf">Einführung und Definition</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=96_Asehyi0Y">video 14</a>] 
[<a href="https://www.youtube.com/watch?v=CCj4idb-R6o">video 15</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=tZwmMKNjMDo">video 16</a>]
[<a href="https://www.youtube.com/watch?v=WWXScAB8a2s">video 17</a>]
[<a href="https://www.youtube.com/watch?v=EjJkp7IGKEA">video 18</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Bedingte Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-bayes-theorem.pdf">Satz von Bayes</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=YHeWZryl_Ww">video 16</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=KTyl8SVJ_NM">video 19</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Bedingte Wahrscheinlichkeit &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-statistical-dependence.pdf">Stochastische Abhängigkeit</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=bAyvWxeO1Dw">video 17</a>] 
[<a href="https://www.youtube.com/watch?v=ziBAnceTcW4">video 18</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=yhBVpu78ZxI">video 20</a>]
[<a href="https://www.youtube.com/watch?v=TT50OCc13E0">video 21</a>]
</li>
  
<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-random-variables.pdf">Zufallsgrößen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=zkQ5PQWxbWo">video 19</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=GT8pQbmF1QA">video 22</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-probability-distributions.pdf">Wahrscheinlichkeitsverteilungen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=aFqx0aesIkg">video 20</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=tpYoXhfWfNI">video 22</a>]
[<a href="https://www.youtube.com/watch?v=N62lLzSsD5Y">video 23</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-multiple-random-variables.pdf">Multiple Zufallsgrößen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=Qxe4Y4XArxA">video 21</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=62-X6E24Ohs">video 24</a>]
[<a href="https://www.youtube.com/watch?v=kZME_hRijuI">video 25</a>]
</li>

<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-expected-value.pdf">Erwartungswerte</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=m4WUDdECRoY">video 22</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=8YqeYM0JL5s">video 26</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-variance-and-standard-deviation.pdf">Varianz und Standardabweichung</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=VDXn1JFzOk0">video 23</a>] 
Halle:
[<a href="https://www.youtube.com/watch?v=lOvJubUeSzg">video 27</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Zufallsgrößen und Maßzahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-estimation-rules.pdf">Schätzwerte für Erwartungswert und Standardabweichung</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=x8s7uuic60E">video 24</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=5kS1bUw8yG0">video 28</a>]
[<a href="https://www.youtube.com/watch?v=5LYQdDFdLHc">video 29</a>]
</li>

<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Binomialverteilung &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-bernoulli-experiments.pdf">Bernoulli-Experimente</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=0C9abWsGPoU">video 25</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=OkDET1w-GIQ">video 30</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Binomialverteilung &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-bernoulli-process.pdf">Bernoulli-Kette</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=Yq7v5mMLD7s">video 26</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=LGzDtZM_sns">video 31</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Binomialverteilung &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-bernoulli-formula.pdf">Bernoulli'sche Formel</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=ldpJFAklWTo">video 27</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=jeDy5jb66NA">video 32</a>]
</li>

<br>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Gesetz der großen Zahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-chebyshevs-inequality.pdf">Ungleichung von Tschebyscheff</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=_nPUsoCr-hE">video 28</a>]
[<a href="https://www.youtube.com/watch?v=iLM_e65Vw5w">video 29</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=V4VYOarD0c4">video 33</a>]
[<a href="https://www.youtube.com/watch?v=FkOoeoVGxzw">video 34</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Gesetz der großen Zahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-bernoullis-law-of-large-numbers.pdf">Bernoulli'sches Gesetz der großen Zahlen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=2QkBZw--rTQ">video 30</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=pNo1-MCbmJs">video 35</a>]
</li>
  
<li><nobr>Wahrscheinlichkeitstheorie und Statistik &gt;
Gesetz der großen Zahlen &gt;
<a href="https://temir.org/teaching/statistics-dh-ws21/unit-de-borels-law-of-large-numbers.pdf">Borel'sche Gesetz der großen Zahlen</a></nobr><br>
Leipzig: 
[<a href="https://www.youtube.com/watch?v=WUP4HCyRJ8k">video 31</a>]
Halle:
[<a href="https://www.youtube.com/watch?v=f2pY5S9_-mc">video 36</a>]
</li>

</ul>
