<ul>


<li><b>14.10.2021</b> <br/>
  Scheduling appointments via [<a href="https://conf.fmi.uni-leipzig.de/b/chr-5ja-dtf-5kc">BigBlueButton</a>]
</li>
<br>
<li><b>21.10.2021</b> <br/>
</li>      
<br>    
<li><b>28.10.2021</b> <br/>
</li>      
<br>    
<li><b>04.11.2021</b> <br/>
  <ul>
  <li>Jonas Richter: <i>Netzwerk des Widerstands (2)</i></li>
  <li>Lucy Betke: <i>Analysing Entity Coverage in News Summarization (2)</i></li>  
  <!--<li>Erik Körner: <i>EMNLP Vortrag</i></li> moved back, due to time-->
  </ul>
</li>
<br>  
<li><b>11.11.2021</b> <br/>
  <ul>
  <li>David Hanslischeck: <i>Quantification of the Overton Window using Text Mining (2)</i></li>
    </ul>
</li>    
<br>
<li><b>18.11.2021</b> <br/>
  <ul>
  <li>Christopher Schröder: <i>Active Learning</i></li>
  <li>Hannes Hansen: <i>From contextual to static word embeddings (1)</i></li>
  </ul>
</li>     
<br>    
<li><b>25.11.2021</b> <br/>
  <ul>
  <li>Henrik Bininda: <i>Crawling and Analyzing the Novelupdates Corpus (1)</i></li>
  <li>Yannick Dannies: <i>Investigating Stopping Criteria for Active Learning (1)</i></li>
    <li>Maximus Gerner: <i>Automatische Generierung von Schachberichten (2)</i></li>  
  </ul>
</li>     
<br>    
<li><b>02.12.2021</b> <br/>
<i>Dies academicus</i>
</li>      
<br>    
<li><b>09.12.2021</b> <br/>
</li>  
<br>    
<li><b>16.12.2021</b> <br/>
  <ul>
  <li>Wolfgang Kircheis: <i>Analyzing the History Section of Wikipedia Articles (1)</i></li>
  <li>Kim Bürgl: <i>tba</i></li>
  </ul>
</li>       
<br>    
<li><b>23.12.2021</b> <br/>
<i>vorlesungsfrei</i>
</li>  
<br>    
<li><b>30.12.2021</b> <br/>
<i>vorlesungsfrei</i>
</li>
<br>    
<li><b>06.01.2022</b> <br/>
  <ul>
  <li>Robby Wagner: <i> Impact of Main Content Extraction on large scale near duplicate detection (L)</i></li>
  <li>Mathias Halbauer: <i>Analyse der Reaktionen von Coronamaßnahmen auf Basis von Twitterdaten (L)</i></li>
  </ul>
</li>  
<br>    
<li><b>13.01.2022</b> <br/>
  <ul>
  <li>Niklas Deckers: <i> The Importance of Suppressing Domain Style in Authorship Analysis </i></li>
  <li>Tariq Youssef: <i> tba </i></li>
  </ul>
</li>   
<br>    
<li><b>20.01.2022</b> <br/>
  <ul>
   <li>Lukas Göhlich: <i> Detecting Bias in Media (2)</i></li>
     <li>Christopher Akiki: <i> Query Expansion in the Age of Large Language Models (1) </i></li>
    </ul>
</li> 
<br>    
<li><b>27.01.2022</b> <br/>
  <b> fällt aus </b>
 </li>      
<br>    
<li><b>03.02.2022</b> <br/>
  <ul>
  <li>Yannick Dannies: <i>Investigating Stopping Criteria for Active Learning (2)</i></li>
  <li>Max Martius: <i>Synonymanalyse (L)</i></li>
  <li>Erik Schmidt: <i>Deliberative Argumentation Strategies on Wikipedia (2)</i></li>
  </ul>
</li>  
    
</ul>
