<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; {{site.time | date: '%Y'}} Temir">
    <link rel="icon" type="image/png" href="{{ '/img/uni-leipzig-favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
    {%- for css in page.additional_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
    {%- endfor %}
</head>

<body class="uk-offcanvas-content">
    <script src="https://assets.webis.de/js/hyphenate/hyphenate.min.js"></script>
    <script src="https://assets.webis.de/js/thirdparty/uikit/uikit.min.js"></script>
    <script src="https://assets.webis.de/js/thirdparty/uikit/uikit-icons.min.js"></script>

    <div id="offcanvas-nav" class="mobile-nav" data-uk-offcanvas="overlay: true; flip: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" data-uk-close></button>

            <!-- Off-canvas mobile navigation -->
            <nav class="uk-margin-large-top">
                <ul class="uk-nav uk-nav-primary uk-nav-parent-icon" data-uk-nav>
                    <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                        <a href="{{ '/people.html' | relative_url }}">People</a>
                    </li>
                    <li{% if page.nav_active == "for-students" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/for-students.html">For&nbsp;Students</a>
                    </li>
                    <li{% if page.nav_active == "lecturenotes" %} class="uk-active"{% endif %}>
                        <a href="{{ '/teaching.html' | relative_url }}">Teaching</a>
                    </li>
                    <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                        <a href="{{ '/research.html' | relative_url }}">Research</a>
                    </li>
                    <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/publications.html#filter:martin+potthast">Publications</a>
                    </li>
                    <li{% if page.nav_active == "data" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/data.html">Data</a>
                    </li>
                    <li{% if page.nav_active == "events" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/events.html">Events</a>
                    </li>
                    <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/facilities.html">Facilities</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="uk-background-secondary global-nav" data-uk-sticky>
        <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                        <a href="{{ '/' | relative_url }}" id="group-logo">TEMIR</a>
                    </li>
                </ul>
            </div>
            <!-- Mobile navigation toggle button -->
            <div class="uk-navbar-right mobile-nav">
                <button class="uk-button uk-navbar-item uk-light uk-button-large" type="button"
                    data-uk-icon="icon: menu" data-uk-toggle="target: #offcanvas-nav"></button>
            </div>

            <!-- Desktop navigation -->
            <div class="uk-navbar-right desktop-nav">
                <ul class="uk-navbar-nav">
                    <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                        <a href="{{ '/people.html' | relative_url }}">People</a>
                    </li>
                    <li class="{% if page.nav_active == 'for-students' %} uk-active{% endif %}">
                            <a href="https://webis.de/for-students.html">For&nbsp;Students</a>
                    </li>
                    <li class="nav-group-start{% if page.nav_active == 'lecturenotes' %} uk-active{% endif %}">
                            <a href="{{ '/teaching.html' | relative_url }}">Teaching</a>
                    </li>
                    <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                        <a href="{{ '/research.html' | relative_url }}">Research</a>
                    </li>
                    <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/publications.html#filter:martin+potthast">Publications</a>
                    </li>
                    <li class="nav-group-start{% if page.nav_active == 'data' %} uk-active{% endif %}">
                            <a href="https://webis.de/data.html">Data</a>
                    </li>
                    <li{% if page.nav_active == "events" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/events.html">Events</a>
                    </li>
                    <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                        <a href="https://webis.de/facilities.html">Facilities</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div data-uk-height-viewport="expand: true">
        {{ content }}
    </div>

    <footer class="uk-section uk-section-muted footer-section">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small" data-uk-grid>
                <div class="uk-text-muted uk-text-small uk-margin-medium-right search-engines">

                    <h4>Search Engines</h4>
                        <div>
                            <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                                <div class="uk-width-auto search-engine-icon">
                                    <a href="http://www.args.me/" class="uk-link-reset"><img alt="Args.me" src="/research/img/args-logo.png"></a>
                                </div>
                                <div class="uk-width-expand">
                                    <h5><a href="http://www.args.me/" class="uk-link-heading">Args</a></h5>
                                    <div class="uk-text-small">Argument search</div>
                                </div>
                            </div>
                        </div>
                    <div>
                        <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                            <div class="uk-width-auto search-engine-icon">
                                <a href="https://www.chatnoir.eu/" class="uk-link-reset"><img alt="ChatNoir"
                                        src="/research/img/chatnoir2-logo.png"></a>
                            </div>
                            <div class="uk-width-expand">
                                <h5><a href="https://www.chatnoir.eu/" class="uk-link-heading">ChatNoir</a></h5>
                                <div class="uk-text-small">Web search</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                            <div class="uk-width-auto search-engine-icon">
                                <a href="https://www.chatnoir.eu/" class="uk-link-reset"><img alt="Netspeak"
                                        src="/research/img/netspeak-logo.png"></a></div>
                            <div class="uk-width-expand">
                                <h5><a href="http://netspeak.org/" class="uk-link-heading">Netspeak</a></h5>
                                <div class="uk-text-small">Writing assistance</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                            <div class="uk-width-auto search-engine-icon">
                                <a href="http://picapica.org/" class="uk-link-reset"><img alt="Picapica"
                                        src="/research/img/picapica-logo.png"></a>
                            </div>
                            <div class="uk-width-expand">
                                <h5><a href="http://picapica.org/" class="uk-link-heading">Picapica</a></h5>
                                <div class="uk-text-small">Plagiarism detection</div>
                            </div>
                        </div>
                    </div>


                </div>
                <div>
                    <h4>Contact</h4>
                    <address>
                        <strong>Text Mining and Retrieval Group</strong><br>
                        Leipzig University<br>
                        Department of Computer Science<br>
                        Augustusplatz 10<br>
                        04109 Leipzig<br>
                        Germany <br>
                        <br>
                        <span uk-icon="world"></span>&nbsp; <a href="https://temir.org/">Home</a><br>
                        <span uk-icon="receiver"></span>&nbsp;+49 341 97-32230
                    </address>
                </div>

            </div>
<div class="uk-grid uk-grid-small uk-margin-top">
    <div class="uk-width-1-5@s">
              <!-- links specific to a service -->
        </div>
            <div class="uk-width-expand uk-visible@s"></div>
            <div>
              &copy; {{site.time | date: '%Y'}} <a href="/">Temir Group</a> <span class="uk-padding-small">&bullet;</span>
              <a href="https://github.com/webis-de"><span data-uk-icon="icon: github; ratio:0.8"></span></a> 
              <a href="https://twitter.com/webis_de"><span data-uk-icon="icon: twitter; ratio:0.9"></span></a> 
              <a href="https://www.youtube.com/channel/UCGOTkqgnKS5a3bzzp1zU2Uw"><span data-uk-icon="icon: youtube; ratio:0.9"></span></a> <span class="uk-padding-small">&bullet;</span>
              <a href="{{ '/people.html' | relative_url }}">Contact</a> <span class="uk-padding-small">&bullet;</span>
              <a href="{{ '/impressum.html' | relative_url }}">Impressum / Terms / Privacy</a>
        </div>
    </div>
</div>
        </div>
    </footer>

    <script>
        UIkit.util.ready(() => {
            const nav = UIkit.util.$(".global-nav");
            const navHeight = UIkit.util.height(nav);

            // correct scroll offset due to fixed navigation after page load
            let fixScrollHeight = () => {
                if (location.hash === "" || !UIkit.util.$(location.hash)) {
                    return;
                }

                const pos = document.documentElement.scrollTop;
                const offset = UIkit.util.offset(UIkit.util.$(location.hash));

                if (pos > navHeight * .8 && offset) {
                    document.documentElement.scrollTop = offset.top - navHeight - 20;
                }
            };

            window.addEventListener("hashchange", fixScrollHeight, false);
            setTimeout(fixScrollHeight, 100);
        });
    </script>

</body>

</html>
